<header class="site-header">
	<div class="header_area flexbox_container">
		<a href="/">
			<div class="logo_area flexbox_item flexbox_item_logo">
				<img src="{{ site.avatar | relative_url }}" /></div>
			<div class="title_area flexbox_item flexbox_item_title">
				<h2> {{ site.title }} </h2>
			</div> 
		</a>

		<div class="menu_area flexbox_item flexbox_item_menu">
			<a href="/about.html"><ul>About</ul></a>
			<a href="/team.html"><ul>Team</ul></a>
			<a href="/photo/"><ul>Photo</ul></a>
			<a href="/projects/"><ul>Projects</ul></a>
			<a href="/pulications/"><ul>Publications</ul></a>
		</div>
	</div>
</header>
