<nav class="nav_wrapper">
  <div class="nav_logotitleicon"> 
	
	<div class="nav_logo"> 
		<img src="{{ site.avatar | relative_url }}" />
	</div>
	<div class="nav_title"> 
		<a href="/"><h2> {{ site.title}} </h2> </a>
	</div>
		
	<div class="nav_icon"> <i class="fas fa-align-justify fa-lg"></i></div>

  </div>

  <div class="nav_items"> 
	<a href="/about.html"><ul> About </ul> </a>
	<a href="/team.html"><ul> Team </ul> </a>
	<a href="/publications.html"><ul> Pubulcations </ul> </a>
	<!--<ul> Photo </ul>
	<ul> test </ul>-->
  </div>
</nav>

