<header class="site-header">

    <!-- Logo and title -->
	<div class="branding">
        {% if site.avatar %}
		<a href="{{ '/' | relative_url }}">
			<img alt="logo img" class="avatar" src="{{ site.avatar | relative_url }}" />
		</a>
        {% endif %}

		<h1 class="site-title">
			<a aria-label="{{ site.title }}" href="{{ '/' | relative_url }}">
        {{ site.title }}
      </a>
		</h1>
	</div>

    <!-- Toggle menu -->
    <nav class="clear">
	  <div class="header_area flexbox_container">
		  <div class="menu_area flexbox_item flexbox_item_menu">
			  <a class="current_page" href="./index.html"><ul>About</ul></a>
			  <a href="./galerie.html"><ul>Team</ul></a>
			  <a href="./kontakt.html"><ul>Projects</ul></a>
			  <a href="./about.html"><ul>Publications</ul></a>
		  </div>
	  </div>
	</nav>

</header>
