/* --- Header text feature --- */

.call-out {
  @extend %padding-header;
  //display: inline-block;
  display: block;
  //width: 100%;
  //height: 100%;
  font-size: 1.2em;
  text-align: center;
  color: $header-desc-text-color;
  background: $header-desc-background-color no-repeat;
  //background-size: $feature-image-size;
  

  /* --- Responsive --- */
  @media screen and (min-width: $break) {
    background-size: 120% auto;
  }

  @media screen and (max-width: $break) {
    background-size: 200% auto;
  }

  @media screen and (max-width: $sm-break) {
    background-size: 400% auto;
  }

  //For white images
  p,
  a,
  li,
  h1,
  h2,
  h3,
  h4,
  h5 {
    @extend .header-txt-shadow;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

#main {
  background-position: 100% 100%, 0 center, center;
}

.flexbox_row {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.flexbox_col {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flexbox_hcenter { 
	display: flex; 
	justify-content: center;
    align-items: center;
 }

#home-img {
  	//background: grey;
	width: 100%;
	height: 700px;
}

#about-img {
	width: 100%;
	height: 400px;
}
#about-img h2 {
	color: white;
	font-size: 250%;
}

#team-img {
	width: 100%;
	height: 400px;
}
#team-img h2 {
	color: white;
	font-size: 250%;
}

#pubs-img {
	width: 100%;
	height: 400px;
}
#pubs-img h2 {
	color: white;
	font-size: 250%;
}
#about_subtitle {
	height: 120px;	
	margin-top: 30px; 
	margin-bottom: auto;
	font-size: 120%;
}

.box_100p {
	width: 100%;
	height: 100%;
	text-align: center;
}


.flexbox_80p {
	flex-basis: 80%;
	height: 100%;
	text-align: justify;
	font-family: Georgia;
	font-size: 80%;
	line-height: 2.5;
}

.flexbox_70p {
	flex-basis: 80%;
	height: 100%;
	text-align: justify;
	font-family: Georgia;
	font-size: 80%;
	line-height: 2.5;
}

#pubs {margin-top: 50px;}
#pubs li {
  margin-left: 50px; 
  margin-bottom: 20px;
  text-align: justify;
}

#pubs a {text-decoration: none;}
#pubs a:hover {
  text-decoration: underline;
}

.teambox {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  //background: grey;
  //border-bottom: 20px solid #5e7a96;
}

.box_40p_center {
  text-align: center;
  width: 40%;
}

#alumni { background: #dcd06f; } 

.box_70p_left {
  text-align: flex-start;
  width: 70%;
}

.box_40p_left {
  text-align: flex-start;
  width: 40%;
}

#team_bio a { color:#1de2d9; }
#team_bio p { text-align:justify; }


.box_15p_left {
  text-align: flex-start;
  width: 15%;
  height: 15%;
}
.box_10p_left {
  text-align: flex-start;
  width: 10%;
  height: 10%;
}

#team_img { background: yellow}
#team_txt { background: pink}

/* --- Post listing --- */
.posts {
  .post-teaser {
    @extend %padding-post;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;

    p a {
      @extend .body-link;
    }

    .post-img {
      vertical-align: middle;
      border-radius: 10px;
      overflow: hidden;

      @media (min-width: $break) {
        height: 250px;
      }

      //Smaller screen
      @media screen and (max-width: $break) {
        height: 150px;
      }

      img {
        width: 100%;
        padding: 0;
        vertical-align: middle;
      }

    }

    .post-img img {
      -moz-transition-timing-function: ease-out;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;

      -moz-transition: all 2s;
      -webkit-transition: all 2s;
      transition: all 2s;

      &:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }

  .excerpt {
    margin-top: 1em;
  }
}
