---
layout: default
---

<div class="home">

  <div class="headimg_wrapper"
	 style="background-image: url('{{ site.header_feature_image | relative_url }}')">
  </div>

  <div class="main_wrapper">
	<div id="news" class="main_wrapper_3fr">	

		<div class="news_home">

                          <h2> Openings </h2>

			  <h3> We have openings for postdocs, graduate and undergraduate students. If you are interested in neurophotonics and biomedical imaging, please send your CV to Prof. Cui. (Updated Oct. 2020) </h3>

		</div>
        </div>
  </div>
    
</div>
